@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @Environment.GetEnvironmentVariable("UI_HEADER")
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

    <footer class="fixed-bottom px-4">
        &copy; @DateTime.Now.Year RedSail Technologies
    </footer>
</div>
