@inherits LayoutComponentBase
@using System.Web

<HeadContent>
    @headerContentMarkup
</HeadContent>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row auth px-4 d-block">
            <LoginDisplay />
            <div class="float-start">
                <span class="me-2 mt-3 badge bg-dark">@Environment.GetEnvironmentVariable("UI_HEADER")</span>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

    <footer class="fixed-bottom px-4">
        &copy; @DateTime.Now.Year RedSail Technologies
    </footer>
</div>

@code {
    MarkupString headerContentMarkup => (MarkupString)headerContent;
    string headerContent = HttpUtility.HtmlDecode(Environment.GetEnvironmentVariable("ADDITIONAL_HEAD_CONTENT"));
}