<nav class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href=""><img src="/kubernetes-white.svg" width="48" height="48"
                class="d-inline-block align-middle"><span class="d-inline-block align-middle ms-3">Kube
                Status</span></a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="namespaces">
                <span class="oi oi-list" aria-hidden="true"></span> Namespaces
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pods">
                <span class="oi oi-monitor" aria-hidden="true"></span> Pods
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="deployments">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Deployments
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="statefulsets">
                <span class="oi oi-layers" aria-hidden="true"></span> Stateful Sets
            </NavLink>
        </li>
        @if (UiShowHelm)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="helm">
                    <span class="oi oi-box" aria-hidden="true"></span> Helm Releases
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="kafka-connectors">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kafka Connectors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="spark-applications">
                <span class="oi oi-project" aria-hidden="true"></span> Spark Applications
            </NavLink>
        </li>
        @if (UiShowTor)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="tor-enterprises">
                    <span class="oi oi-medical-cross" aria-hidden="true"></span> Tor Enterprises
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="tor-databases">
                    <span class="oi oi-hard-drive" aria-hidden="true"></span> Tor Databases
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    bool UiShowHelm = true;
    bool UiShowTor = true;

    protected override void OnInitialized()
    {
        Boolean.TryParse(@Environment.GetEnvironmentVariable("UI_SHOW_HELM"), out UiShowHelm);
        Boolean.TryParse(@Environment.GetEnvironmentVariable("UI_SHOW_TOR"), out UiShowTor);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
