@typeparam TItem

<table class="table @TableClass">
    <thead class="@TableHeaderClass">
        <tr>
            <th scope="col" class="d-none"></th>
            @TableHeader
        </tr>
    </thead>
    <tbody>
        @if (Items != null)
        {
            @foreach (var item in Items)
            {
                <tr>
                    <th scope="row" class="d-none"></th>
                    @RowTemplate(item)
                </tr>

            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public IEnumerable<TItem> Items { get; set; }

    [Parameter]
    public string TableClass { get; set; }

    [Parameter]
    public string TableHeaderClass { get; set; }
}