@page "/"

<h1>Kube Status</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><span class="oi oi-monitor" aria-hidden="true"></span> Pods</h5>
                <p class="card-text">A simple view of all Pods deployed by Kubernetes Namespace.</p>
            </div>
            <div class="card-footer">
                <a href="pods" class="btn btn-primary">View Pods</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><span class="oi oi-list-rich" aria-hidden="true"></span> Kafka Connectors</h5>
                <p class="card-text">Using Strimzi's Kubernetes Custom Objects, view the status of deployed Kafka
                    Connectors and restart all failed Tasks.</p>
            </div>
            <div class="card-footer">
                <a href="kafka-connectors" class="btn btn-primary">View Kafka Connectors</a>
            </div>
        </div>
    </div>
</div>