@page "/"

<h1>Kube Status</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><span class="oi oi-layers" aria-hidden="true"></span> Namespaces</h5>
                <p class="card-text">A simple view of all Namespaces.</p>
            </div>
            <div class="card-footer">
                <a href="namespaces" class="btn btn-primary">View Namespaces</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><span class="oi oi-monitor" aria-hidden="true"></span> Pods</h5>
                <p class="card-text">A simple view of all Pods by Namespace.</p>
            </div>
            <div class="card-footer">
                <a href="pods" class="btn btn-primary">View Pods</a>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(@Environment.GetEnvironmentVariable("UI_SHOW_HELM")) && UiShowHelm)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><span class="oi oi-box" aria-hidden="true"></span> Helm Releases</h5>
                    <p class="card-text">A Helm list by Namespace.</p>
                </div>
                <div class="card-footer">
                    <a href="helm" class="btn btn-primary">View Helm Releases</a>
                </div>
            </div>
        </div>
    }
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><span class="oi oi-list-rich" aria-hidden="true"></span> Kafka Connectors</h5>
                <p class="card-text">Using Strimzi's Custom Objects, view the status of deployed Kafka
                    Connectors and restart all failed Tasks.</p>
            </div>
            <div class="card-footer">
                <a href="kafka-connectors" class="btn btn-primary">View Kafka Connectors</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><span class="oi oi-list-rich" aria-hidden="true"></span> Spark Applications</h5>
                <p class="card-text">Using the Spark Kubernetes Operator's Custom Objects, view the status of deployed
                    Spark Applications.</p>
            </div>
            <div class="card-footer">
                <a href="spark-applications" class="btn btn-primary">View Spark Applications</a>
            </div>
        </div>
    </div>
</div>

@code {
    bool UiShowHelm;

    protected override void OnInitialized()
    {
        Boolean.TryParse(@Environment.GetEnvironmentVariable("UI_SHOW_HELM"), out UiShowHelm);
    }
}