@page "/namespaces"

@inject NamespaceService NamespaceService

<h1>Namespaces</h1>

@if (GetNamespacesError)
{
    <div class="alert alert-danger" role="alert">
        Unable to get namespaces. Please try again later.
    </div>
}
else
{
    <TableTemplate Items="NamespaceList" TableClass="table table-striped">
        <TableHeader>
            <th colspan="3" scope="col">Namesapce</th>
        </TableHeader>
        <RowTemplate>
            <td>@context</td>
            <td><a href="pods/@context" class="btn btn-outline-dark btn-sm">View Pods</a></td>
            <td><a href="helm/@context" class="btn btn-outline-dark btn-sm">View Helm Releases</a></td>
        </RowTemplate>
    </TableTemplate>
}

@code {
    bool GetNamespacesError;
    bool _shouldRender;
    IEnumerable<string> NamespaceList = Array.Empty<string>();

    protected override bool ShouldRender() => _shouldRender;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var namespaces = await NamespaceService.GetAllNamespacesAsync();
            NamespaceList = namespaces.Items.Select(i => i.Metadata.Name);

            _shouldRender = true;
        }
        catch
        {
            GetNamespacesError = true;
        }
    }
}