@page "/namespaces"

@inject NamespaceService NamespaceService

<h1>Namespaces</h1>

@if (GetNamespacesError)
{
    <div class="alert alert-danger" role="alert">
        Unable to get namespaces. Please try again later.
    </div>
}
else
{
    <div class="row">
        <h6>Items: @ItemCountAll</h6>
    </div>
    <TableTemplate Items="NamespaceList" TableClass="table table-striped mb-5">
        <TableHeader>
            <th scope="col">Namespaces</th>
        </TableHeader>
        <RowTemplate>
            <td>
                <div class="row align-items-center">
                    <div class="col-sm-2"><span class="align-center">@context</span></div>
                    <div class="col-sm-5">
                        <a href="pods/@context" class="btn btn-outline-dark btn-sm mx-1 my-1">
                            <span class="oi oi-monitor" aria-hidden="true"></span> Pods
                        </a>
                        <a href="deployments/@context" class="btn btn-outline-dark btn-sm mx-1 my-1">
                            <span class="oi oi-briefcase" aria-hidden="true"></span> Deployments
                        </a>
                        <a href="statefulsets/@context" class="btn btn-outline-dark btn-sm mx-1 my-1">
                            <span class="oi oi-layers" aria-hidden="true"></span> Stateful Sets
                        </a>
                        @if (UiShowHelm)
                        {
                            <a href="helm/@context" class="btn btn-outline-dark btn-sm mx-1 my-1">
                                <span class="oi oi-box" aria-hidden="true"></span> Helm Releases
                            </a>
                        }
                        @if (UiShowTor)
                        {
                            <a href="tor-enterprises/@context" class="btn btn-outline-dark btn-sm mx-1 my-1">
                                <span class="oi oi-medical-cross" aria-hidden="true"></span> Tor Enterprises
                            </a>
                            <a href="tor-databases/@context" class="btn btn-outline-dark btn-sm mx-1 my-1">
                                <span class="oi oi-hard-drive" aria-hidden="true"></span> Tor Databases
                            </a>
                        }
                    </div>
                </div>
            </td>
        </RowTemplate>
    </TableTemplate>
}

@code {
    bool GetNamespacesError;
    bool _shouldRender;
    bool UiShowHelm = true;
    bool UiShowTor = true;
    IEnumerable<string> NamespaceList = Array.Empty<string>();
    int ItemCountAll = 0;

    protected override bool ShouldRender() => _shouldRender;

    protected override async Task OnInitializedAsync()
    {
        Boolean.TryParse(@Environment.GetEnvironmentVariable("UI_SHOW_HELM"), out UiShowHelm);
        Boolean.TryParse(@Environment.GetEnvironmentVariable("UI_SHOW_TOR"), out UiShowTor);

        try
        {
            var namespaces = await NamespaceService.GetAllNamespacesAsync();
            NamespaceList = namespaces.Items.Select(i => i.Metadata.Name);
            ItemCountAll = NamespaceList.Count();

            _shouldRender = true;
        }
        catch
        {
            GetNamespacesError = true;
        }
    }
}