@page "/namespaces"

@inject NamespaceService NamespaceService

<h1>Namespaces</h1>

@if (GetNamespacesError)
{
    <div class="alert alert-danger" role="alert">
        Unable to get namespaces. Please try again later.
    </div>
}
else
{
    <div class="row">
        <h6>Items: @ItemCountAll</h6>
    </div>
    <TableTemplate Items="NamespaceList" TableClass="table table-striped mb-5">
        <TableHeader>
            <th scope="col">Namespaces</th>
        </TableHeader>
        <RowTemplate>
            <td>
                <div class="row">
                    <div class="col-sm-2">@context</div>
                    <div class="col-sm-5">
                        <a href="pods/@context" class="btn btn-outline-dark btn-sm ms-1">View Pods</a>
                        <a href="deployments/@context" class="btn btn-outline-dark btn-sm ms-1">View Deployments</a>
                        <a href="helm/@context" class="btn btn-outline-dark btn-sm ms-1">View Helm Releases</a>
                    </div>
                </div>
            </td>
        </RowTemplate>
    </TableTemplate>
}

@code {
    bool GetNamespacesError;
    bool _shouldRender;
    IEnumerable<string> NamespaceList = Array.Empty<string>();
    int ItemCountAll = 0;

    protected override bool ShouldRender() => _shouldRender;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var namespaces = await NamespaceService.GetAllNamespacesAsync();
            NamespaceList = namespaces.Items.Select(i => i.Metadata.Name);
            ItemCountAll = NamespaceList.Count();

            _shouldRender = true;
        }
        catch
        {
            GetNamespacesError = true;
        }
    }
}